$loaderSize: 10px;

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: $loaderSize;
  height: $loaderSize;
  animation-fill-mode: both;
  animation: load7 1.5s infinite ease-in-out;
}

.loader {
  top: -10px;
  color: inherit;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -15px;
  animation-delay: -0.32s;
}

.loader:after {
  left: 15px;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 $loaderSize 0 -1.3em;
  }
  40% {
    box-shadow: 0 $loaderSize 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 $loaderSize 0 -1.3em;
  }
  40% {
    box-shadow: 0 $loaderSize 0 0;
  }
}
