.log {
  @apply my-4;
  display: flex;

  &__timeline {
    @apply pb-4;
    position: relative;

    &:before {
      @apply bg-grey-200 rounded-full;
      content: '';
      width: 3px;
      height: 75%;
      position: absolute;
      top: 20px;
      left: 16px;
    }
  }

  &__avatar {
    @apply mr-4 mt-3;
  }

  &__body {
    @apply bg-grey-200 rounded p-4 mb-2;
    flex: 1;
  }
}
